{% extends 'apps/base_include/base.html' %}
{% load humanize %}
{% block main %}
    <div class="card mb-3 mt-2">
        <div class="card-body">
            <div class="col-lg-8 swiper-container">

                <form method="post">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label class="form-label" for="formGroupNameInput">Ism:</label>
                        <input class="form-control" name="name" id="formGroupNameInput" type="text">
                    </div>
                    
                    <div class="mb-4">
                        <label class="form-label" for="formGroupEmailInput">Telefon nomer:</label>
                        <input class="form-control" id="phone-mask" required="" name="phone_number" type="text">
                        
                    </div>
                    <input type="text" name="product" value="{{ product.id }}" hidden="hidden">
                    {% if thread %}
                    	 <input type="text" name="thread" value="{{ thread_id }}" hidden="hidden">
                    {% endif %}
                    <span style="padding-bottom: 100px;">
                </span>
                    <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20px;">
                        <button class="btn btn-primary" type="submit">Buyurtma berish</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-8 swiper-container" style="margin-top: 20px;">


                    <img src="{{ product.image.url }}" alt="" class="img-main mb-3 img-fluid">


                    <div class="row mb-5 thumbs">

                    </div>
                </div>
            </div>
            <div class="col-lg-8 swiper-container">
                <h5>
                    {{ product.name }}
                </h5>
                <p class="fs--1">
                </p>
                <p>{{ product.name }}</p>

                <p>&nbsp;</p>


                <p>&nbsp;</p>

                {{ product.description }}
                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;To'lovni mahsulotni qo'lingizga olganda qilasiz</p>

                <p>&nbsp;</p>

                <p>O\'zbekiston boylab yetqazib berish xizmati mavjud</p>
                <p>Narxi: {{ site.delivery_price|floatformat:"0"|intcomma}} so'm</p>
                <h4 class="d-flex align-items-center">
                <span class="text-warning me-2">
                    Product narxi: {{ all_amount|floatformat:0|intcomma }} so'm
                </span>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}